@{
    ViewData["Title"] = "Error";
}

<h1>An unknown Error has occurs and our database has not been updated</h1>

<div>
    <button class="btn-light"><a href="javascript:void(0);" onclick="history.go(-1);">Back</a></button>
</div>


