
@{
    ViewData["Title"] = "DupError";
}


<h1>There is already an instance of that item in you order.</h1>
<h5>Please start a new order to purchase more</h5>
<div>
    <button class="btn-light"><a href="javascript:void(0);" onclick="history.go(-1);">Back</a></button>
</div>

