
@{
    ViewData["Title"] = "ErrorStore";
}

<h1>The store you inputted was invalid.</h1>
<h5>Please use the search option to look for stores.</h5>
<div>
    <button class="btn-light"><a href="javascript:void(0);" onclick="history.go(-1);">Back</a></button>
</div>