
@{
    ViewData["Title"] = "QuantError";
}

<h1>Quantity Error</h1>

<h1>We do not have enough in stock of this item to accommadate this feature</h1>
<h5>Please reduce your amount</h5>
<div>
    <button class="btn-light"><a href="javascript:void(0);" onclick="history.go(-1);">Back</a></button>
</div>


