@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <br />
    <h3>Please select an option to continue.</h3>
</div>

<br />
<br />
<div style="text-align: center;">
    <button class="btn-light"><a class="btn" asp-area="" asp-controller="Login" asp-action="Create">Create a New Account</a></button>
    <button class="btn-light"><a class="btn" asp-area="" asp-controller="Login" asp-action="Login">Login With Your ID</a></button>
</div>