@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This build was originally intended to be used for P1. I am not responsible for any sensitive information you may have entered.</p>
<div>
    <button class="btn-light"><a href="javascript:void(0);" onclick="history.go(-1);">Back</a></button>
</div>
