
@{
    ViewData["Title"] = "ErrorCred";
}

<h1>You do not have the creditials to use this feature.</h1>
<h5>Please see an admin in regards for a promotion</h5>
<div>
    <button class="btn-light"><a href="javascript:void(0);" onclick="history.go(-1);">Back</a></button>
</div>

