@model ModelsDefault.User

@{
    ViewData["Title"] = "UserSearch";
}

<h1>User Search</h1>

<h4>User Info</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UserSearch">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="findF" class="control-label">Search A First Name</label>
                <input asp-for="findF" class="form-control" />
                <span asp-validation-for="findF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="findL" class="control-label">Search A Last Name</label>
                <input asp-for="findL" class="form-control" />
                <span asp-validation-for="findL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <button class="btn-light"><a href="javascript:void(0);" onclick="history.go(-1);">Back</a></button>
</div>
